
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.05em;
}
.headimg{
    display: flex;
    justify-content: start;
    align-items: center;
}
.headimg img{
    /* width: 170px; */
    width: 19.5%;
    margin-top: -13px;
    cursor: pointer;
}
.head1{
 display: flex;
 align-items: center;
 color: white;
 justify-content: end;
}
.head2{
    display: flex;
    align-items: center;
    color: white;
    justify-content: end;
    font-size: 13px;
    font-weight: 600;
}
.vehicle:hover{
     background-color: #4f4f4e;
    height: 73px;
    cursor: pointer;
    width: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.vehicle{
    width: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 73px;
}
.headcontrol{
    /* width: 90%; */
    display: flex;
    
}
.headcontrol2{
    display: flex;
    justify-content: start;
    
}
.headcontrol3{
    display: flex;
    justify-content: end;
}
.vid{
    position: relative;
    display: flex;
    justify-content: center;
}
.vid video{
    width: 1399px;
    height: 568px;
}
.symbole{
    position: fixed;
    color: white;
    margin-top: 200px;
    margin-right: 10px;
    z-index: 99;
}
.symb1:hover{
    cursor: pointer;
    background-color: #4f4f4e;
}
.sybmain{
    display: flex;
    justify-content: end;
}
.symb1{
    width: 50px;
    height: 50px;
    background-color: #3c3c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.head1 p{
    font-size: 13px;
    font-weight: 600;
}
.head2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icons p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icons:hover{
   background-color: #4f4f4e;
   height: 70px;
   cursor: pointer;
   width: 120px;
   justify-content: center;
   display: flex;
   align-items: center;
}
.icons{
   width: 120px;
   justify-content: center;
   display: flex;
   align-items: center;
}
.jag1{
    width: 650px;
}
.jag2{
    width: 650px;
}
.topcar{
    margin-top: 100px;
    display: flex;
}
.topcar2{
    margin-top: 45px;
    display: flex;
}
.car{
    width: 50%;
    display: flex;
    justify-content: end;
}
.jag1:hover{
    cursor: pointer;
    transition: 0.6s;
    background-color: black;
    z-index: 99;
    opacity: 0.5;
}
.jag2:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.6;
    z-index: 99;
    transition: 0.7s;
}
.carr{
   width: 50%;
    display: flex;
    justify-content: start;
    margin-left: 40px;
}
.txt{
    color: white;
    font: inherit;
    letter-spacing: 0.02rem;
    margin-top: 20px;
    cursor: pointer;
}
.txt1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.txt2{
    font-size: 13px;
    margin-top: 12px;
}
.but1{
   display: flex;
   align-items: center;
   margin-top: 25px;
   background-color: #3c3c3b;
   width: 140px;
   height: 40px;
   color: white;
   font-weight: 500;
   border: solid 1px #3c3c3b;
   box-shadow: none;
   font-size: 15px;
   transition: 1s;
}
.but1:hover{
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    box-shadow: none;
    font-size: 15px;
    
}
.txt3{
    margin-top: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.5px;
    font-weight: 600;
}
.three{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: grab;
}
.data{
    display: flex;

}
.data1{
    font-size: 25px;
    color: white;
    margin-left:100px;
    margin-top: 25px;
    width: 25%;
    cursor:grab;
    letter-spacing: 3px;
}
.data2{
    color: white;
    cursor: grab;
    margin-top: 30px;
    font-size: 13px;
}
.credit{
    display: flex;
    color: white;
    margin-left: 50px;
}
.maincredit{
    width: 25%;
    margin-top: 30px;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
}
.jagg:hover{
    cursor: pointer;
    text-decoration: underline;
}
.vehi{
    font-weight: 600;
    font-size: 14px;
}
.jagg{
    font-size: 10px;
    font-weight: 500;
}
.face{
     font-size: 10px;
     font-weight: 500;
     margin-top: 30px;
}
.face i:hover{
    color: blue;
}
.insta{
    font-size: 10px;
    font-weight: 500;
    margin-top: 28px;
}
.link{
    font-size: 10px;
    font-weight: 500;
    margin-top: 28px;
}
.YOU{
    font-size: 10px;
    font-weight: 500;
    margin-top: 28px;
}
.x{
    font-size: 10px;
    font-weight: 500;
    margin-top: 28px;
}
.lastdetail{
    display: flex;
    gap: 20px;
    font-size: 12px;
    margin-left: 50px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.lastdetail2{
    gap: 20px;
    font-size: 10px;
    margin-left: 50px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.dett2{
   margin-top: 26px;
}
.det3{
    margin-top: 0px;
}
.carousal69{
    background-color:black;
     height: 1000px;
}
.carousal70{
    background-color: #3c3c3b;
     width: 100%; 
     height: 700px;
}
.carousal65{
    background-color: #141414;
    height: 100%;
}
@media screen and (max-width:1024px){
    .vid video{
        width: 900px; 
        height: 360px;
    }
    .jag2{
        width: 388px;
    }
    .jag1{
        width: 388px;
    }
    .three{
        width: 870px;
    }
    .carousal69{
        height: 720px;
    }
    .topcar{
        margin-top: 50px;
    }
    .car1{
        width: 390px;
    }
    .txt2 {
        width: 80%;
    }
    
}
@media screen and (max-width:768px){
    .vid video{
        width: 740px; 
        height: 250px;
    }
    .txt2 {
        width: 84%;
    }
    .jag2{
        width: 100%;
    }
    .jag1{
        width: 100%;
    }
    .car1{
        width: 100%;
    }
    .three{
        width: 100%;
    }
    .carousal69{
        height: 600px;
    }
    .car1{
        margin-left: 65px;
    }
    .maincredit{
        width: 100%;
    }
    .carousal70{
        height: 750px;
    }
    .car2 img{
        width: 83%;
    }
}